.header{
    background-color: #181818;
    color: aliceblue;
}

.body{
    background-color: #181818;
}

.body input{
    background-color: #1f1f1f;
    border: none;
    width: 100%;
    color: aliceblue;
}

.footer{
    background-color: #181818;
}

.errorMessage{
    color: #C7253E;
}

.noBorder {
    border: none !important;
}

.body  input:-webkit-autofill {
    background-color: #181818 !important;
    color: aliceblue !important;
    -webkit-text-fill-color: aliceblue !important;
    -webkit-box-shadow: 0 0 0px 1000px #1f1f1f inset !important;
    box-shadow: 0 0 0px 1000px #1f1f1f inset !important;
}

.body  input:-webkit-autofill:focus {
    background-color: #1f1f1f !important;
    color: aliceblue !important;
    -webkit-text-fill-color: aliceblue !important;
    -webkit-box-shadow: 0 0 0px 1000px #1f1f1f inset !important;
    box-shadow: 0 0 0px 1000px #1f1f1f inset !important;
}

.body  input:-webkit-autofill:hover {
    background-color: #1f1f1f !important;
    color: aliceblue !important;
    -webkit-text-fill-color: aliceblue !important;
    -webkit-box-shadow: 0 0 0px 1000px #1f1f1f inset !important;
    box-shadow: 0 0 0px 1000px #1f1f1f inset !important;
}