.descriptionContainer {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    font-size: 0.9rem;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: aliceblue;
}

.descriptionContainer h2 {
    color: #50623A;
}