.pageLogin {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
}

.pageLogin .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 5px;
    background-color: #1f1f1f;
    box-shadow: 0px 6px 7px 0px rgba(10, 10, 9, 0.9);
}

.pageLogin .formContainer .formLogin {
    color: aliceblue;
    max-width: 500px;
    /* max-height: 300px; */
    min-width: 400px;
    min-height: 200px;
    width: 40vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.pageLogin .formContainer .formLogin .btn-success {
    margin-top: 0.5rem;
}

.pageLogin .formContainer a,
.pageLogin .formContainer p span {
    color: #50623A;
}

.pageLogin .formContainer a:hover,
.pageLogin .formContainer p span {
    cursor: pointer;
    color: #3e4c2d;
}

.pageLogin .formContainer p {
    color: aliceblue;
}