.pageLogin {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
}

.pageLogin .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 5px;
    background-color: #1f1f1f;
    box-shadow: 0px 6px 7px 0px rgba(10, 10, 9, 0.9);
}

.pageLogin .formContainer .formLogin {
    color: aliceblue;
    max-width: 500px;
    min-width: 400px;
    min-height: 200px;
    width: 40vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pageLogin .formContainer .formLogin input{
    background-color: #181818;
    border: none;
    color: aliceblue;
}

.pageLogin .formContainer .formLogin .btn-success {
    margin-top: 0.5rem;
}

.pageLogin .formContainer p {
    color: aliceblue;
    cursor: pointer;
}

.pageLogin .formContainer .forgotpassword:hover {
    color: #3e4c2d;
}

.pageLogin .formContainer p span {
    cursor: pointer;
    color: #3e4c2d;
}

.pageLogin .formContainer p span:hover {
    color: #6d8155 !important;
}

.pageLogin .formContainer .formLogin input:-webkit-autofill {
    background-color: #181818 !important;
    color: aliceblue !important;
    -webkit-text-fill-color: aliceblue !important;
    -webkit-box-shadow: 0 0 0px 1000px #181818 inset !important;
    box-shadow: 0 0 0px 1000px #181818 inset !important;
}

.pageLogin .formContainer .formLogin input:-webkit-autofill:focus {
    background-color: #181818 !important;
    color: aliceblue !important;
    -webkit-text-fill-color: aliceblue !important;
    -webkit-box-shadow: 0 0 0px 1000px #181818 inset !important;
    box-shadow: 0 0 0px 1000px #181818 inset !important;
}

.pageLogin .formContainer .formLogin input:-webkit-autofill:hover {
    background-color: #181818 !important;
    color: aliceblue !important;
    -webkit-text-fill-color: aliceblue !important;
    -webkit-box-shadow: 0 0 0px 1000px #181818 inset !important;
    box-shadow: 0 0 0px 1000px #181818 inset !important;
}