.pageAbout {
    height: 93vh;
    width: 100vw;
    background-color: red;
}

.pageAbout .aboutContainer {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.pageAbout .aboutContainer .imgContainer {
    width: 30%;
    height: 100%;
    background-color: blue;
}

.pageAbout .aboutContainer .imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pageAbout .aboutContainer .descriptionContainer {
    width: 70%;
    height: 100%;
    font-size: 0.9rem;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
}