.header{
    background-color: #181818;
    color: aliceblue;
}

.body{
    background-color: #181818;
}

.footer{
    background-color: #181818;
}

.errorMessage{
    color: red;
}

.noBorder {
    border: none !important;
}
