* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-success {
    background-color: #50623A;
    border-color: #50623A;
}

.btn-success:hover {
    background-color: #3e4c2d;
    border-color: #3e4c2d;
}

.btn-success:active {
    background-color: #333f25;
    border-color: #333f25;
}
