* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    width: 100vw;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
}

.pageMainContent {
    width: 98%;
    height: 98%;
    padding: 5px;
    border-radius: 5px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    flex-direction: column;
    gap: 0.5rem;
    background-color: #1f1f1f;
}

.btn-success {
    background-color: #50623A;
    border-color: #50623A;
}

.btn-success:hover {
    background-color: #3e4c2d;
    border-color: #3e4c2d;
}

.btn-success:active {
    background-color: #333f25;
    border-color: #333f25;
}

input {
    background-color: #242424;
    border: 1px solid #50623A;
    border-radius: 5px;
    color: #cccccc;
}

input:focus {
    outline: none !important;
    border-color: #a7cb7b;
}

td {
    padding: 0;
    margin: 0;
    border: none;
}

[type='color'] {
    appearance: none;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border-radius: none;
}

[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

[type='color']::-webkit-color-swatch {
    border: none;
}