@root {
    --verde: #294B29;
    --verde-oscuro: #1A4D2E;
    --verde-limon: #4F6F52;
    --verde-camisa: #50623A;
    --verde-dx: #789461;
    --verde-opaco: #627254;
    --verde-xd: #76885B;
    --verde-claro: #B5C18E;
}

* {
    font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #181818;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #50623A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #627254;
}

.backdrop {
    background-color: red;
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 999;
}